---
import Badge from "./Badge.astro";
import BadgeFloat from "./BadgeFloat.astro";

const personalImageAlt = "Daniel Suarez";

const PROJECTS = [
  {
    title: "Bootcamp Frontend",
    description:
      "Aprenderás las bases de la programación web, desde HTML, CSS y JavaScript.",
    link: "/bootcamps/frontend",
    image: "/bootcamps/frontend.webp",
  },
  {
    title: "Bootcamp Emprendimiento",
    description:
      "Aprenderás a crear tu propio negocio, desde la idea hasta la ejecución junto a expertos en el area de....",
    link: "#bootcamps",
    image: "/bootcamps/emprendimiento.webp",
    badge: "Pronto",
  },
];
---

<p
  class="hidden sm:flex sm:justify-center sm:text-xl font-extralight font-serif sm:mb-20"
>
  Nos gusta compartir conocimiento y experiencias, por eso hemos creado una
  serie de bootcamps y talleres para que puedas aprender de la mano de expertos
  en diferentes áreas.
</p>

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 sm:flex-row"
>
  <div class="sm:hidden text-center font-extralight font-serif">
    <p>
      Nos gusta compartir conocimiento y experiencias, por eso hemos creado una
      serie de bootcamps y talleres para que puedas aprender de la mano de
      expertos en diferentes áreas.
    </p>
  </div>

  <div class="flex flex-col gap-y-16 order-2 sm:w-[800px] sm:flex-row sm:gap-6">
    {
      PROJECTS.map(({ image, title, description, link, badge }) => (
        <article class="bg-white card relative">
          <img src={image} alt={title} class="w-full" />
          <div class="p-4">
            <h3 class="text-1xl">{title}</h3>
            <p class="font-extralight font-serif text-xs mb-4">{description}</p>
            <a href={link} class="text-blue-500 mt-4">
              Ver más
            </a>
          </div>
         {badge && <div class="m-3">
            <Badge>{badge}</Badge>
          </div>}
        </article>
      ))
    }

    <style>
      .card {
        background-color: #fff;
        border: 1px solid #000;
        box-shadow: -2px 2px #000;
        border-radius: 9px;
      }
    </style>
  </div>
</article>
